@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/interstate");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap");
@import url("https://fonts.cdnfonts.com/css/gold-night");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.no_index {
  background-image: none !important;
  background-color: rgb(0, 0, 0);
  height: 90px !important;
  width: 100% !important;
  background-position: center !important;
  background-size: cover !important;
  transition: 1s !important;
}
.no_index::before {
  background: none;
}
.no_index .nav {
  height: 100px;
  padding-top: 5px;
}
.no_index .nav .logo img {
  padding: 0;
}
.no_index .nav nav ul {
  margin: 0;
}
.no_index .nav nav ul li a {
  color: white;
}
.no_index .nav nav ul li a:hover {
  padding: 10px 15px;
  background: white;
}
.no_index .nav.active {
  background-color: rgba(0, 0, 0, 0.726);
  height: 86px;
  padding: 0;
  margin: 0;
}
.no_index .nav.active nav ul li a {
  color: white;
  font-weight: 400;
  font-size: 15px;
}
.nav.active nav ul li a:hover{
  color:black;
  background-color: rgba(0, 0, 0, 0.856);
}
header{
  /* background-image: url(../../IMAGENES/imagen_fondo_sincolor.png); */
  background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/url(../../IMAGENES/primera_imagen.png);
  /* filter: grayscale(100); */
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 1s;
}
/* 
header:hover{
  background-image: url(../../IMAGENES/primera_imagen.png);
  transition: 5s;
} */

.nav{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding:20px;
  position: fixed;
  transition: all 0.8s ease;
  z-index: 123;
}
.logo_colapse img{
  display: none;
  width: 70px;
  cursor: pointer;
  position:relative;
}
.nav.active{
  /* background-color: rgb(255, 255, 255); */
  background-color: transparent;
  padding:10px;
}
.nav.active a img{
  width: 65px;
}
.nav.active nav ul li a{
  /* color:black; */
  color:white;
  font-weight: 400;
  font-size: 15px;
}
.nav.active nav ul li a:hover{
  color:white;
  background-color: rgba(0, 0, 0, 0.856);
}
.logo img{
  width: 70px;
  cursor: pointer;
}
.nav nav{
  flex: 1;
}
.nav nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2vw;
}
.nav nav ul li{
  list-style: none;
  margin:10px;
}
.nav nav ul li a{
  text-decoration: none;
  text-align: center;
  color:white;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.nav nav ul li a:hover{
  padding:10px 15px;
  background: #ffffffd7;
  color:black;
  border-radius: 20px;
}
.icono-menu {
  display: none;
}

header {
  background-image: url(../../IMAGENES/primera_imagen.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 1s;
}
header .contenido {
  padding-top: 30vh;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.61);
}
header .contenido a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 240, 104);
  border-radius: 20px;
  padding: 7px 12px;
  transition: all 0.5s ease-in-out;
}
header .contenido a:hover {
  background-color: white;
  padding: 9px 14px;
}
header .contenido h1 {
  color: rgb(255, 240, 104);
  font-size: 90px;
  font-weight: 900;
  font-family: "Lora", serif;
  letter-spacing: 3px;
  padding-top: 25px;
}
header .contenido h4 {
  color: white;
  font-size: 30px;
  font-weight: 1000;
  font-family: "Interstate", sans-serif;
  letter-spacing: 2px;
  padding-top: 10px;
}
header .contenido p {
  color: rgb(255, 240, 104);
  font-size: 20px;
  padding-top: 70px;
}
header .contenido .icono_flecha {
  font-size: calc(3em + 1vw);
  color: white;
  padding: 0;
  transition: all 1s ease;
}
header .contenido .icono_flecha:hover {
  transform: rotateZ(180deg);
}
header::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, black, transparent);
}

.firstcontent {
  height: auto;
  padding-left: 20px;
  padding-top: 60px;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  background-color: black;
}
.firstcontent .imagen img {
  width: 50vw;
  transform: translateY(-20px);
}
.firstcontent .text {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  width: 35.5vw;
  align-items: end;
}
.firstcontent .text h1 {
  color: rgb(250, 232, 66);
  size: 100px;
  font-size: 90px;
  font-weight: 900;
  font-family: "Lora", serif;
  padding-bottom: 20px;
  padding-top: 50px;
  width: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: end;
}
.firstcontent .text h1:hover {
  font-size: 100px;
  color: rgb(201, 198, 198);
}
.firstcontent .text h3 {
  color: floralwhite;
  font-weight: 500;
  font-size: 35px;
  padding-bottom: 10px;
  width: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: end;
}
.firstcontent .text p {
  color: beige;
  font-weight: 400;
  font-size: 17px;
  transition: 0.5s;
  display: flex;
  justify-content: flex-end !important;
  text-align: right;
}

.carrusel {
  background-color: black;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.carrusel .carousel {
  filter: grayscale(100) blur(2px);
  transition: 1s;
}
.carrusel .carousel:hover {
  filter: none;
}
.carrusel .carousel h5 {
  font-family: "Lora", serif;
  font-size: 35px;
  font-weight: 800;
}
.carrusel .carousel p {
  font-size: 18px;
  font-weight: 400;
}

footer {
  padding: 4vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
}
footer img {
  width: 5vw;
  padding-bottom: 20px;
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
}
footer .redes ion-icon {
  font-size: 20px;
  color: darkgrey;
  cursor: pointer;
}
footer ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  gap: 10px;
  margin: 0.1px;
}
footer ul li a {
  text-decoration: none;
  color: darkgrey;
  font-size: 12px;
}
footer p {
  color: darkgrey;
  font-size: 12px;
  text-align: center;
  margin: 0.1px;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: black;
  transition: 0.5s;
}
.galeria h1 {
  color: rgb(250, 232, 66);
  font-family: "Lora", serif;
  font-size: 5vw;
  transition: color 0.5s, transform 10s;
}
.galeria h1:hover {
  color: rgb(0, 0, 0);
  transform: rotateY(360deg);
}

.fotos {
  width: 100%;
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  background-color: black;
  margin: 0;
  transition: 1s;
}
.fotos .caja_img figure {
  width: 100%;
  height: 100%;
}
.fotos .caja_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100);
  transition: 1s ease;
}
.fotos .caja_img img:hover {
  filter: grayscale(0);
  position: relative;
  padding: 15px 15px;
}
.fotos .caja_img:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.fotos .caja_img:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.fotos .caja_img:nth-child(6) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.fotos .caja_img:nth-child(7) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.fotos .caja_img:nth-child(10) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.fotos .caja_img:nth-child(15) {
  grid-column-start: span 1;
  grid-row-start: span 2;
}
.fotos .caja_img:nth-child(16) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.fotos .caja_img:nth-child(22) {
  grid-column-start: span 3;
  grid-row-start: span 1;
}
.fotos .caja_img:nth-child(27) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.fotos .caja_img:nth-child(31) {
  grid-column-start: span 3;
  grid-row-start: span 1;
}

.form {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 90px;
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
}
.form img {
  width: 40vw;
  height: 100%;
  padding-left: 80px;
}
.form .formulario {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
  align-content: center;
}
.form .formulario .texto {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
  padding-right: 70px;
  padding-bottom: 20px;
}
.form .formulario .texto h1 {
  color: white;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 70px;
  padding-left: 0;
}
.form .formulario .texto h4 {
  color: white;
  font-weight: 300;
  font-size: 25px;
  padding-left: 0;
}
.form .formulario .preguntas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
}
.form .formulario .preguntas .nombre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}
.form .formulario .preguntas .nombre label {
  color: rgba(255, 255, 255, 0.336);
  font-size: 17px;
  padding-bottom: 10px;
}
.form .formulario .preguntas .nombre input {
  background-color: rgba(0, 0, 0, 0.788);
  width: 45vw;
  height: 35px;
  border-radius: 0;
  border-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  color: white;
}
.form .formulario .preguntas .correo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}
.form .formulario .preguntas .correo label {
  color: rgba(255, 255, 255, 0.336);
  font-size: 17px;
  padding-bottom: 10px;
}
.form .formulario .preguntas .correo input {
  background-color: rgba(0, 0, 0, 0.788);
  height: 35px;
  border-radius: 0;
  border-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  color: white;
}
.form .formulario .preguntas .correo .area {
  background-color: rgba(0, 0, 0, 0.288);
  height: 35px;
  border-radius: 0;
  border-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
}
.form .formulario .preguntas .mensaje {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}
.form .formulario .preguntas .mensaje label {
  color: rgba(255, 255, 255, 0.336);
  font-size: 17px;
  padding-bottom: 10px;
}
.form .formulario .botones {
  width: 40vw;
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-top: 10px;
}
.form .formulario .botones button {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border-color: white;
  color: white;
}

.testimonios {
  width: 100%;
  background-color: black;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.testimonios h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 80px;
  position: relative;
}
.testimonios h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #f5e839, #9bdd45);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel {
  padding: 0 70px;
}
.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
  color: white;
  font-weight: 300;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: rgb(250, 232, 66);
}

.testimonios .container-x1 .row .mx-auto .slide .carousel-control-prev {
  width: 40px;
  height: 40px;
  margin-top: 90px;
  top: 50%;
  background: none;
}
.testimonios .container-x1 .row .mx-auto .slide .carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: 90px;
  top: 50%;
  background: none;
}

.slide .carousel-control-prev i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.slide .carousel-indicators {
  top: 320px;
}
.slide .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.slide .carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}

.definicion {
  background-color: black;
  padding: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.definicion h1 {
  color: white;
  font-family: "Lora", serif;
  font-size: 60px;
  padding-bottom: 40px;
  transition: 0.5s;
}
.definicion h1:hover {
  font-size: 70px;
}
.definicion .contenido {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding-top: 40px;
}
.definicion .contenido img {
  width: 40vw;
  filter: grayscale(0);
  transition: 0.5s;
}
.definicion .contenido img:hover {
  filter: grayscale(100);
}
.definicion .contenido .texto {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  width: 30vw;
}
.definicion .contenido .texto h2 {
  color: white;
  font-family: "Lora", serif;
  font-size: 45px;
  padding-bottom: 60px;
}
.definicion .contenido .texto p {
  color: #bbbbbb;
  font-size: 13.5px;
  width: 300px;
}
.definicion .contenido .texto .keywords {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding-top: 10px;
}
.definicion .contenido .texto .keywords h4 {
  color: white;
  padding: 5px 6px;
  border: 1px solid white;
  font-size: 13px;
  font-weight: 200;
  transition: 0.5s;
}
.definicion .contenido .texto .keywords h4:hover {
  font-size: 15px;
  color: black;
  background-color: white;
}
.definicion p {
  margin-bottom: 0;
}

.lema {
  background-image: url(../../IMAGENES/NOSOTROS/portada_500_tape.png);
  height: 78vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 1s;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  filter: grayscale(100);
  transform: translateY(-100px);
}
.lema:hover {
  filter: none;
  transform: translateY(-20px);
  margin-bottom: 100px;
}
.lema h1 {
  font-family: "Gold Night", sans-serif;
  color: white;
  padding-top: 80px;
  padding-left: 300px;
  width: 55vw;
  transform: translateY(100px);
  font-weight: 300;
  font-size: 55px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 50px;
  transition: 0.5s;
}
.lema h1:hover {
  letter-spacing: 5px;
  width: 58vw;
  padding-left: 280px;
}

.nosotros {
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
}
.nosotros img {
  width: 50%;
  transition: 0.5s;
}
.nosotros img:hover {
  filter: grayscale(100);
  padding: 10px;
}
.nosotros .texto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 35vw;
  padding-left: 30px;
}
.nosotros .texto h1 {
  color: rgb(251, 235, 128);
  font-family: "Lora", serif;
  font-size: 55px;
  padding-bottom: 20px;
}
.nosotros .texto p {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #555;
}

/* LINEA DE TIEMPO ESTILOS */
.historiaLinea {
  margin: 60px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.historiaLinea .titulo h1 {
  color: rgb(255, 237, 72);
  font-family: "Lora", serif;
  font-size: 45px;
  padding-bottom: 30px;
}

.lineaDeTiempo {
  margin-top: 35px;
  padding: 15px;
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: center;
}
.lineaDeTiempo ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.lineaDeTiempo ul li {
  margin-top: 30px;
  position: relative;
  padding: 25px;
}
.lineaDeTiempo ul li p {
  padding: 0 20px;
  transition: 1.5s;
  font-size: 14px;
  font-weight: 300;
}
.lineaDeTiempo ul li .fecha {
  position: absolute;
  top: 30px;
  left: -50px;
  opacity: 0;
  transition: 1.5s;
  font-size: 12px;
}
.lineaDeTiempo ul li .lineaDeTiempo_punto {
  border: none;
  position: absolute;
  border-radius: 50%;
  background: rgb(228, 228, 228);
  width: 8px;
  height: 8px;
  top: 30px;
  left: -6px;
  transition: 1.5s ease;
}
.lineaDeTiempo .lineaDeTiempo_linea {
  background: rgb(228, 228, 228);
  width: 4px;
  border-radius: 12px;
  position: relative;
  justify-self: end;
}
.lineaDeTiempo .lineaDeTiempo_linea .lineaDeTiempo_lineaInterior {
  position: absolute;
  background: rgb(251, 235, 128);
  width: 4px;
  height: 0%;
  top: 0%;
  left: 0%;
  transition: 1s linear;
}

@media (max-width: 1024px) {
  .firstcontent .imagen img {
    width: 40vw;
  }
  .firstcontent .text {
    width: 50vw;
  }
  .firstcontent .text h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
  }
  .firstcontent .text h3 {
    font-size: 30px;
  }
  .firstcontent .text p {
    font-size: 15px;
    margin: 0;
  }
  .form {
    align-items: center;
  }
  .form img {
    padding-left: 5vw;
  }
  .form .formulario .preguntas .correo input {
    width: 45vw;
  }
  .form .formulario .preguntas .mensaje .area {
    width: 45vw;
  }
  .lema h1 {
    width: 60vw;
    padding-left: 15vw;
  }
  .lema h1:hover {
    padding-left: 15vw;
    padding-top: 40px;
  }
  .nosotros {
    margin-left: 20px;
    margin-right: 20px;
  }
  .nosotros .img {
    width: 90vw;
  }
  .nosotros .texto {
    width: 43vw;
  }
}
@media (max-width: 1020px) {
  .fotos {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .fotos .caja_img img:hover {
    padding: 5px 5px;
  }
  .fotos .caja_img:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .fotos .caja_img:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .fotos .caja_img:nth-child(7) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .fotos .caja_img:nth-child(12) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .fotos .caja_img:nth-child(13) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .fotos .caja_img:nth-child(16) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .fotos .caja_img:nth-child(19) {
    grid-column-start: span 1;
    grid-row-start: span 2;
  }
  .fotos .caja_img:nth-child(22) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .fotos .caja_img:nth-child(27) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .fotos .caja_img:nth-child(31) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
}
@media (max-width: 768px) {
  .logo img {
    display: none;
  }
  .logo_colapse img {
    display: flex;
    margin: 10px;
  }
  .nav {
    align-items: center;
    padding: 0;
    align-items: center;
  }
  .nav nav ul {
    transition: none;
    visibility: hidden;
  }
  .nav nav ul li a {
    transition: none;
  }
  .icono-menu {
    display: block;
    position: absolute;
    top: 2vh;
    right: 2vw;
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
  }
  .no_index .nav.active .logo_colapse img {
    width: 65px;
    margin: 10px;
    transition: 0.5s;
  }
  .nav.active .logo_colapse img {
    width: 65px;
  }
  header.open .nav nav ul {
    position: relative;
    visibility: visible;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: black;
    left: 0;
    width: 100%;
    top: 60px;
    padding: 10px;
  }
  header.open .nav .logo_colapse {
    display: none;
  }
  .firstcontent {
    width: 100%;
    height: auto;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .firstcontent .imagen img {
    width: 70vw;
  }
  .firstcontent .text {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    width: 90vw;
    align-content: flex-start;
    align-items: center;
    align-content: center !important;
    text-align: center;
  }
  .firstcontent .text h1 {
    padding: 0;
    font-size: 12vw;
    justify-content: center;
  }
  .firstcontent .text h3 {
    padding: 0;
    font-size: 5vw;
    justify-content: center;
  }
  .firstcontent .text p {
    padding: 0;
    font-size: 2vw;
    justify-content: center;
    text-align: center;
  }
  .carrusel {
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 12vw;
  }
  .galeria h1 {
    font-family: "Lora", serif;
    font-size: 10vw;
    transition: color 0.5s, transform 10s;
  }
  .fotos {
    width: 100%;
    padding-top: 10px;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .form .formulario .texto h1 {
    font-weight: 400;
    font-size: 7vw;
  }
  .form .formulario .texto h4 {
    font-size: 3vw;
  }
  .definicion .contenido {
    gap: 30px;
  }
  .lema h1 {
    padding-left: 20px;
    padding-top: 40px;
    width: 80vw;
  }
  .lema h1:hover {
    padding-left: 20px;
    padding-top: 20px;
    width: 70vw;
  }
  .nosotros {
    padding: 0;
    margin: 0;
    flex-direction: column-reverse;
  }
  .nosotros .texto {
    margin-left: 10px;
    margin-right: 10px;
    width: 80vw;
  }
}
@media (max-width: 765px) {
  .testimonios {
    padding-bottom: 100px;
  }
  .slide .carousel-control-prev {
    width: 20vw;
    height: 20vw;
    margin-top: 100px;
  }
  .slide .carousel-indicators {
    top: 70vh;
  }
  .carousel-control-next {
    width: 20vw;
    height: 20vw;
    margin-top: 100px;
  }
}
@media screen and (min-width: 728px) {
  .lineaDeTiempo {
    display: block;
  }
  .lineaDeTiempo ul {
    flex-direction: row;
  }
  .lineaDeTiempo ul li {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 0px;
  }
  .lineaDeTiempo ul li p {
    transform: translateY(-10px);
    opacity: 0;
    transition: 1.5s;
  }
  .lineaDeTiempo ul li .fecha {
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;
    position: absolute;
    top: -60px;
    left: 38%;
  }
  .lineaDeTiempo ul li .lineaDeTiempo_punto {
    width: 15px;
    height: 15px;
    top: -40px;
    left: 40%;
    transition: 1.5s ease;
  }
  .lineaDeTiempo .lineaDeTiempo_linea {
    width: 100%;
    height: 4px;
  }
  .lineaDeTiempo .lineaDeTiempo_linea .lineaDeTiempo_lineaInterior {
    position: absolute;
    background: rgb(249, 240, 138);
    width: 0%;
    height: 4px;
    top: 0%;
    left: 0%;
    transition: 1s linear;
    border-radius: 999px;
  }
}
@media (max-width: 670px) {
  header {
    filter: none;
  }
  header .contenido {
    padding: 30vh 4vw;
  }
  header .contenido h1 {
    font-size: 15vw;
  }
  header .contenido h4 {
    font-size: calc(15px + 2vw);
    text-align: center;
  }
  header .contenido p {
    text-align: center;
  }
  .form {
    flex-direction: column;
  }
  .form img {
    object-fit: cover;
    object-fit: cover;
    width: 90vw;
    height: 90vw;
  }
  .form .formulario {
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .form .formulario .texto {
    padding: 0;
  }
  .form .formulario .texto h1 {
    font-size: 15vw;
    padding: 10px;
    text-align: center;
  }
  .form .formulario .texto h4 {
    font-size: 5vw;
    padding: 15px;
    text-align: center;
  }
  .form .formulario .preguntas {
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .form .formulario .preguntas .nombre {
    padding-right: 20px;
  }
  .form .formulario .preguntas .nombre input {
    width: 80vw;
  }
  .form .formulario .preguntas .correo input {
    width: 80vw;
  }
  .form .formulario .preguntas .mensaje .area {
    width: 80vw;
  }
  .form .formulario .botones {
    padding: 0;
    width: 100%;
    padding-left: 8.5vh;
  }
  .definicion .contenido {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .definicion .contenido img {
    width: 70vw;
  }
  .definicion .contenido .texto {
    width: 70vw;
    justify-content: center;
  }
  .definicion .contenido .texto p {
    width: 70vw;
  }
}
@media (max-width: 425px) {
  .icono-menu {
    font-size: 2.3em;
  }
  .nav.active .logo_colapse img {
    width: 50px;
  }
  .firstcontent .text p {
    padding: 0;
    font-size: 3.5vw;
    justify-content: center;
    text-align: center;
  }
  .firstcontent .imagen img {
    width: 90vw;
  }
  .carrusel {
    padding-top: 12vw;
  }
  footer img {
    width: 10vw;
  }
  footer ul {
    margin: 0;
    padding: 0;
    gap: 5px;
  }
  .fotos {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .fotos .caja_img {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .slide .carousel-indicators {
    top: 80vh;
  }
  .definicion .contenido img {
    width: 80vw;
  }
  .definicion .contenido .texto {
    width: 80vw;
    justify-content: center;
  }
  .definicion .contenido .texto p {
    width: 80vw;
  }
  .lema h1 {
    width: auto;
    padding-left: 0;
    margin: 15px;
    padding-top: 15px;
    font-size: 50px;
  }
  .lema h1:hover {
    padding: 0;
    margin: 0;
    width: auto;
  }
  .nosotros {
    margin: 30px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
  }
  .nosotros .texto {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .nosotros img {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
}