$font-family_1: 'Lora', serif;
$background-color_1: black;

.carrusel {
	background-color: $background-color_1;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 60px;
	padding-bottom: 40px;
	.carousel {
		filter: grayscale(100) blur(2px);
		transition: 1s;
		&:hover {
			filter: none;
		}
		h5 {
			font-family: $font-family_1;
			font-size: 35px;
			font-weight: 800;
		}
		p {
			font-size: 18px;
			font-weight: 400;
		}
	}
}
