$color_1: rgb(250, 232, 66);
$color_2: rgb(0, 0, 0);
$font-family_1: 'Lora', serif;
$background-color_1: black;

.galeria {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px;
	background-color: $background-color_1;
	transition: .5s;
	h1 {
		color: $color_1;
		font-family: $font-family_1;
		font-size: 5vw;
		transition: color .5s, transform 10s;
		&:hover {
			color: $color_2;
			transform: rotateY(360deg);
		}
	}
}
