$color_1: white;
$color_2: black;
$background-color_1: rgb(0, 0, 0);
$background-color_2: rgba(0, 0, 0, 0.726);

.no_index {
	background-image: none !important;
	background-color: $background-color_1;
	height: 90px !important;
	width: 100% !important;
	background-position: center !important;
	background-size: cover !important;
	transition: 1s !important;
	&::before {
		background: none;
	}
	.nav {
		height: 100px;
		padding-top: 5px;
		.logo {
			img {
				padding: 0;
			}
		}
		nav {
			ul {
				margin: 0;
				li {
					a {
						color: $color_1;
						&:hover {
							padding: 10px 15px;
							background: white;
							color: $color_2;
							border-radius: 20px;
						}
					}
				}
			}
		}
	}
	.nav.active {
		background-color: $background-color_2;
		height: 86px;
		padding: 0;
		margin: 0;
		nav {
			ul {
				li {
					a {
						color: $color_1;
						font-weight: 400;
						font-size: 15px;
					}
				}
			}
		}
	}
}
