$color_1: rgb(251, 235, 128);
$color_2: #555;
$font-family_1: 'Lora', serif;

.nosotros {
	margin-right: 60px;
	margin-left: 60px;
	margin-bottom: 90px;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	align-items: center;
	img {
		width: 50%;
		transition: .5s;
		&:hover {
			filter: grayscale(100);
			padding: 10px;
		}
	}
	.texto {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 35vw;
		padding-left: 30px;
		h1 {
			color: $color_1;
			font-family: $font-family_1;
			font-size: 55px;
			padding-bottom: 20px;
		}
		p {
			text-align: center;
			font-size: 15px;
			font-weight: 300;
			color: $color_2;
		}
	}
}
